
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    font-weight: bold;
    text-align: left;
    border: 1px solid #ddd;
}

form {
    margin: 20px 0;
}

.bugun {
    background-color: red;
}

.yarin {
    background-color: orange;
}

.diger {
    background-color: yellow;
}
